* {
  font-family: "Trebuchet MS";
  box-sizing: border-box;
}

:root {
  --padding: 8px;
  --bottoncolor: rgb(227, 252, 223);
  --bottonHovercolor: rgb(106, 147, 115);
}

body {
  max-width: 80vw;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

main {
  border: solid 1px #333;
  display: grid;
  grid-template-columns: 6fr 3fr;
}

h1 {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
section,
p,
button {
  padding: var(--padding);
}

button {
  font-size: 20px;
  width: 100%;
  background-color: var(--bottoncolor);
  cursor: pointer;
}

button:hover {
  background-color: var(--bottonHovercolor);
  color: #fff;
}

#btnpanel div:not(:first-of-type) {
  margin-top: 10px;
}
